/* 
1. Grobal setting 하기
 - Color, Font size, Font weight, Size

2. Universal tags 정리
 - box-sizing

3. Typography
 - 폰트 사이즈 정리

4. navbar 수정 CSS 처리

5. home 수정 CSS 처리
*/

/* 1. Grobal setting */
:root {
  /* color */
  --blue: #2f5fd2;
  --blue-light: #3182f6;
  --white: #ffffff;
  --black-small: #3b3b46;
  --black-big: #4f4f5d;
  --black-mid: #333d4b;
  --gray-light: #8b95a1;

  /* Font size */
  --font-lage: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation  */
  --animaion-duration: 300ms;
}

/* 2. Universal tags 정리 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
  padding-left: 0;
}

/* 3. Typography */

h1 {
  font-size: var(--font-lage);
  font-weight: var(--weight-bold);
  color: var(--black-big);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--black-mid);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--black-small);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--black-small);
  margin: 4px 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Navbar */

#navbar {
  display: flex;
  /* 중심축 정렬 */
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  color: var(--blue);
  padding: 8px;
  transition: all var(--animaion-duration) ease;
}

#navbar.navbar--dark {
  background-color: var(--white);
  color: var(--blue);
  position: fixed;
  padding: 8px;
  z-index: 1;
}

.navbar__logo__name.navbar--dark {
  /* padding: 1px; */
  /* color: var(--white); */
}

.navbar__logo a {
  color: var(--blue);
  transition: all var(--animaion-duration) ease;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--blue);
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  background-color: var(--blue);
  color: var(--white);
}

.navbar__menu__item:hover .navbar--dark {
  background-color: var(--white);
  color: var(--blue);
}
.navbar__toggle-btn {
  position: absolute;
  top: 15px;
  right: 32px;
  font-size: 24px;
  color: var(--white);
  display: none;
}

#home {
  background-color: var(--white);
  padding: 40px;
  padding-top: 130px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 2px solid var(--white); */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--blue-light);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: all 0.5s ease-out;
}

/* class section의 공통부분을 정리한다. */
.section {
  padding: 50px;
  padding-top: 70px;
  text-align: center;
  /* 보통 데스탑에서 1000 ~ 1200px 편하게 볼수 있는 사이즈 */
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0px;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  margin: auto;
  color: var(--blue-light);
  border: 1px solid var(--blue-light);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__title,
.major__desc {
  color: var(--black-small);
}

.major__icon:hover i {
  color: palevioletred;
  transform: rotate(-30deg) scale(1.1);
}

.major__icon i {
  transition: all var(--animaion-duration) ease;
}

.job {
  display: flex;
  align-items: center;
}

.job__description {
  margin: 0 16px;
  text-align: left;
}
.job__name,
.job__period,
.job__detail {
  color: var(--black-small);
}

.job__name {
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

.job__detail {
  font-size: var(--font-micro);
}

.job > img {
  width: 30px;
  height: 30px;
}

#skills {
  background: var(--blue-light);
}

.skillset {
  display: flex;
  background: var(--gray-light);
  color: var(--white);
  margin: 20px 0px;
}

.skillset__left {
  flex-basis: 60%;
  background: var(--black-small);
  padding: 20px;
}

.skillset__right {
  flex-basis: 40%;
}

.skillset__right .tools {
  background: var(--black-big);
}

.tools,
.etc {
  padding: 20px;
}

.skillset__title {
  color: var(--white);
}

.skill__desc {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  /* div에 내용이 없기때문에 width height 꼭 넣어줘야함 */
  width: 100%;
  height: 3px;
  background: var(--gray-light);
  margin-bottom: 32px;
}

.skill__value {
  height: 3px;
  background: orange;
}

/* Works */

.work__categories {
  margin: 40px;
}

.work__categories__btn {
  border: 1px solid var(--blue-light);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
}

.work__categories__btn.active,
.work__categories__btn:hover {
  background-color: var(--blue-light);
  color: var(--white);
}

.work__categories__btn.active .work__categories__count,
.work__categories__btn:hover .work__categories__count {
  opacity: 1;
  top: 0px;
}

.work__categories__count {
  background-color: red;
  border-radius: 50%;
  color: var(--white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 8px;
  opacity: 0;
  transition: all var(--animaion-duration) ease;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animaion-duration) ease;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.9) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
}
.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__desc {
  position: absolute;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animaion-duration) ease-in;
}

.project:hover .project__desc {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__desc h3 {
  color: var(--white);
}

/* Testimonial */

#testimonials {
  background-color: var(--gray-light);
}

.testimonials {
  margin: 40px;
}

.testimonial {
  display: flex;
  margin: 32px 0px;
  align-items: center;
}

.testimonial__avartar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial__avartar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avartar:nth-child(even) {
  margin-left: 40px;
}

.tesimonial__speechBubble {
  padding: 18px;
  background-color: var(--white);
  border-radius: var(--size-border-radius);
}

.tesimonial__speechBubble p {
  color: var(--gray-light);
}

.tesimonial__speechBubble a {
  color: var(--blue);
}

#contact {
  background-color: var(--blue-light);
}

.contact__email,
.contact__title {
  color: var(--white);
}

.contact__title {
  margin: 32px 0px;
}

.contact__links {
  font-size: var(--font-lage);
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  transition: all var(--animaion-duration) ease-in;
}

.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 50%;
  opacity: 0;
  transition: all 300ms ease-in;
  pointer-events: none;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-lage: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    top: 12px;
    right: 16px;
    font-size: var(--font-medium);
  }

  .navbar__toggle-btn i {
    color: var(--blue);
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px;
    padding-top: 40px;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .major {
    margin-bottom: 38px;
  }
  .skillset {
    flex-direction: column;
  }
  .work__categories__btn {
    margin: 4px 0;
    width: 100%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__avartar {
    width: 80px;
    height: 80px;
  }

  .testimonial__avartar:nth-child(even),
  .testimonial__avartar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  }

  .tesimonial__speechBubble {
    order: 1;
  }
  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
